{
  "presets": [
    "@babel/stage-3",
    "@babel/flow"
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      { "pragma": "Glamor.createElement", "pragmaFrag": "React.Fragment" }
    ],
    "glamor/babel-hoist",
    "glamorous-displayname"
  ],
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    },
    "test": {
      "presets": [
        "@babel/react",
        "@babel/preset-env"
      ]
    }
  }
}
